@media screen and (max-width:1200px){
	.device{left:20%;top:-36px;}
	.info-content{width:55%;}
}
@media only screen and (max-width: 1024px) {
	.count-down li input {
	    margin: 35px 0 0 -180px !important;
}
@media screen and (max-width:991px){
	.info-1,.info-2{margin-bottom:50px;}
	.device{display:none;}
	.screenshots ul li{width:50%;}
	.info-content{width:80%;}
}
@media screen and (max-width:680px){
	.info-content{width:60%;}
}
@media screen and (max-width:640px){
	.reg-btn{display:none;}
}
@media screen and (max-width:465px){
	.hero h1{font-size:40px;margin:100px 0 45px 0}
	.screenshots ul li{width:100%;min-height:100%;float:none;}
	.info-content{width:100%;text-align:center;margin-top:20px;}
	.info-icon{display:block;margin:0 auto;}
	blockquote p{width:60%;}
}
