<footer id="footer">
</footer> <!-- footer -->

<script src="/js/libs/toucheffects-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/js/libs/notify.min.js"></script>
<script src="/js/dependencies.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/libs/flickity.pkgd.min.js"></script>
<script src="/js/libs/jquery.fancybox.pack.js"></script>
<script src="/js/libs/retina.js"></script>
<script src="/js/libs/waypoints.min.js"></script>
<script src="/js/libs/particles.min.js"></script>
<script src="/js/libs/jquery.validate.min.js"></script>
<script src="/js/libs/jquery.knob.js"></script>
<script src="/js/libs/jquery.ccountdown.js"></script>
<script src="/js/libs/init.js"></script>
<script src="/js/libs/scripts.js"></script>
