<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Copyright © IsoCTF 2015 - Designed &amp; Developed by <a href="http://www.coreysmason.com/">Corey Mason</a></p>
                <p>Built using the <a href="https://github.com/picoCTF/picoCTF-Platform-2">picoCTF Platform 2</a></p>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-envelope-o"></i></a </li>
                    <li><a href="https://github.com/isoctf"><i class="fa fa-github"></i></a </li>
                    <li><a href="https://www.facebook.com/isoctf"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> <!-- footer -->

<script src="/js/libs/toucheffects-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/js/libs/notify.min.js"></script>
<script src="/js/dependencies.js"></script>
<script src="/js/navbar.js"></script>
