<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="IsoCTF is an international online high school hacking competition run by high school students. IsoCTF aims to open the door to computer science and cybersecurity for students all around the world.">
    <meta name="keywords" content="ctf, computer science, hacking, high school, programming, security, puzzle, challenge, algorithm, cryptography, learn">
    {% for css_file in page.css_files %}
        <link href="{{ css_file }}" rel="stylesheet" media="screen">
    {% endfor %}

    {% if site.mode == 'production' %}
        {% include analytics.html %}
    {% else %}
        <script language="javascript">var ga = function (a,b,c,d) {}</script>
    {% endif %}

    <script src="/js/libs/modernizr.custom.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/queries.css" rel="stylesheet">

    {% for js_file in page.pre_scripts %}
        <script src="{{ js_file }}"></script>
    {% endfor %}

    <!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
