<!DOCTYPE html>
<html lang="en" style="100%">

  {% include head.html %}

<body>

    {% include modal.html %}

    <div class="boxed">
        {% include header.html %}
        <header>
        	<section class="hero">
            <div id="particles-js"></div>
        		<div class="texture-overlay"></div>
        		<div class="container">
        			<div class="row hero-content">
        				<div class="col-md-12 less-padding">
        					<h1 class="animated fadeInDown">An International High School Hacking Competition<br>September 20-27, 2015</h1>
        					<a href="#registration" class="reg-btn animated fadeInUp">Register</a> <a href="#info" class="learn-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>
        				</div>
        			</div>
              <section class="row count-down-wrapper animated fadeInLeft">
                  <ul class="row count-down">
                      <li class="col-md-3 col-sm-6">
                          <input class="knob days" data-readonly=true data-min="0" data-max="365" data-width="200" data-height="200" data-thickness="0.07" data-fgcolor="#34aadc" data-bgColor="#e1e2e6" data-angleOffset="180">
                          <span id="days-title">days</span>
                      </li>
                      <li class="col-md-3 col-sm-6">
                          <input class="knob hour" data-readonly=true data-min="0" data-max="24" data-width="200" data-height="200" data-thickness="0.07" data-fgcolor="#4cd964" data-bgColor="#e1e2e6" data-angleOffset="180">
                          <span id="hours-title">hours</span>
                      </li>
                      <li class="col-md-3 col-sm-6">
                          <input class="knob minute" data-readonly=true data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.07" data-fgcolor="#ff9500" data-bgColor="#e1e2e6" data-angleOffset="180">
                          <span id="mins-title">minutes</span>
                      </li>
                      <li class="col-md-3 col-sm-6">
                          <input class="knob second" data-readonly=true data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.07" data-fgcolor="#ff3b30" data-bgColor="#e1e2e6" data-angleOffset="180">
                          <span id="secs-title">seconds</span>
                      </li>
                  </ul>
              </section>
        		</div>
        	</section>
        </header>

		{% if page.title_label != "hide" %}
		<header class="page-title">
			<div class="container">
				<h1 id="title">{{ page.title }}</h1>
			</div>
		</header>
		{% endif %}

        <div id="main-content">
        {{ content }}
        </div>

        {% include footer.html %}

        {% for js_file in page.post_scripts %}
        <script src="{{ js_file }}"></script>
        {% endfor %}

        <script>
            $(function () {
                {% for func in page.startup_functions %}
                {{ func }};
                {% endfor %}
            })
        </script>
    </div>
</body>
</html>
